Node Red flows.json
[{"id":"b8543f11.29c1b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79b43249.5dd64c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c937203a.07e1f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"sg598a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e378d2f1.5c123","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a2a19497.c726c8","type":"ui_group","z":"","name":"Temperature","tab":"e378d2f1.5c123","order":1,"disp":true,"width":"10","collapse":false},{"id":"d3d2ac88.01eb1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Weather Details","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":2,"gy":2,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ae2c211.79a93c","type":"ui_group","z":"","name":"Humidity","tab":"e378d2f1.5c123","order":2,"disp":true,"width":"10","collapse":false},{"id":"a7bd9537.172268","type":"ui_group","z":"","name":"Pressure","tab":"e378d2f1.5c123","order":3,"disp":true,"width":"10","collapse":false},{"id":"e039adfc.0ff01","type":"ui_group","z":"","name":"Switches","tab":"93450fea.e4b8b","order":5,"disp":true,"width":"10","collapse":false},{"id":"2d795257.bcea2e","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f67738ba.3d9dd8","type":"ui_tab","z":"","name":"IoT Sensor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7c28e2b9.edbcdc","type":"ui_group","z":"","name":"Temperature","tab":"f67738ba.3d9dd8","order":2,"disp":true,"width":"10","collapse":false},{"id":"19cb227c.a576fe","type":"ui_group","z":"","name":"Humidity","tab":"f67738ba.3d9dd8","order":3,"disp":true,"width":"10","collapse":false},{"id":"9d9516dd.a73b38","type":"ui_group","z":"","name":"Object Temp","tab":"f67738ba.3d9dd8","order":4,"disp":true,"width":"10","collapse":false},{"id":"93450fea.e4b8b","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"94ee039.6e75a","type":"ibmiot in","z":"b8543f11.29c1b","authentication":"apiKey","apiKey":"c937203a.07e1f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"IoTDevice","eventType":"data","commandType":"data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":330,"y":320,"wires":[["a36a6e71.4a0f5","89cc5c47.3e244","6b3f1690.05e948"]]},{"id":"89cc5c47.3e244","type":"function","z":"b8543f11.29c1b","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["fa0e3c4a.b8139","96773c5b.973db"]]},{"id":"a36a6e71.4a0f5","type":"function","z":"b8543f11.29c1b","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["fa0e3c4a.b8139","35d13c4e.010a84"]]},{"id":"517a83b8.da9e2c","type":"ibmiot out","z":"b8543f11.29c1b","authentication":"apiKey","apiKey":"c937203a.07e1f","outputType":"cmd","deviceId":"78910","deviceType":"IoTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1060,"y":760,"wires":[]},{"id":"3dfb35c2.bad04a","type":"ui_button","z":"b8543f11.29c1b","name":"","group":"e039adfc.0ff01","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":440,"y":860,"wires":[["517a83b8.da9e2c","3c075697.a7540a","fa0e3c4a.b8139"]]},{"id":"f2d43a7a.62cae8","type":"inject","z":"79b43249.5dd64c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":190,"y":340,"wires":[["69f4bce8.71cda4"]]},{"id":"69f4bce8.71cda4","type":"http request","z":"79b43249.5dd64c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Jammu,%20IN&appid=c09ac7d823a4740e37117af3302fc47f","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":340,"wires":[["ad6ba915.4a6208","a0a06e67.82eec","36ecab7f.82dbd4"]]},{"id":"6b3f1690.05e948","type":"function","z":"b8543f11.29c1b","name":"Object Temp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["fa0e3c4a.b8139","c5af8764.be4c68"]]},{"id":"ad6ba915.4a6208","type":"change","z":"79b43249.5dd64c","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["f0443a53.5c9218","7edcb395.50cc4c"]]},{"id":"f0443a53.5c9218","type":"ui_gauge","z":"79b43249.5dd64c","name":"","group":"a2a19497.c726c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Kelvin","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":180,"wires":[]},{"id":"a0a06e67.82eec","type":"change","z":"79b43249.5dd64c","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["da7b7068.c4d2e","7edcb395.50cc4c"]]},{"id":"36ecab7f.82dbd4","type":"change","z":"79b43249.5dd64c","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[["9ec2dfbc.59ec2","7edcb395.50cc4c"]]},{"id":"da7b7068.c4d2e","type":"ui_gauge","z":"79b43249.5dd64c","name":"","group":"5ae2c211.79a93c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":440,"wires":[]},{"id":"9ec2dfbc.59ec2","type":"ui_gauge","z":"79b43249.5dd64c","name":"","group":"a7bd9537.172268","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":540,"wires":[]},{"id":"7edcb395.50cc4c","type":"debug","z":"79b43249.5dd64c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":340,"wires":[]},{"id":"d6511f86.f6d53","type":"ui_button","z":"b8543f11.29c1b","name":"","group":"e039adfc.0ff01","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":390,"y":640,"wires":[["517a83b8.da9e2c","7e91d0d1.63102","fa0e3c4a.b8139"]]},{"id":"7e91d0d1.63102","type":"function","z":"b8543f11.29c1b","name":"MOTOR ON","func":"msg.payload = 'Motor is On'\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["1d8cd9e0.7754f6","fa0e3c4a.b8139"]]},{"id":"1d8cd9e0.7754f6","type":"ui_text","z":"b8543f11.29c1b","group":"e039adfc.0ff01","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":640,"wires":[]},{"id":"3c075697.a7540a","type":"function","z":"b8543f11.29c1b","name":"MOTOR OFF","func":"msg.payload = 'Motor is Off'\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":860,"wires":[["1d8cd9e0.7754f6","fa0e3c4a.b8139"]]},{"id":"fa0e3c4a.b8139","type":"debug","z":"b8543f11.29c1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":340,"wires":[]},{"id":"96773c5b.973db","type":"ui_gauge","z":"b8543f11.29c1b","name":"","group":"7c28e2b9.edbcdc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":240,"wires":[]},{"id":"c5af8764.be4c68","type":"ui_gauge","z":"b8543f11.29c1b","name":"","group":"9d9516dd.a73b38","order":1,"width":0,"height":0,"gtype":"gage","title":"Object Temp","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":520,"wires":[]},{"id":"35d13c4e.010a84","type":"ui_gauge","z":"b8543f11.29c1b","name":"","group":"19cb227c.a576fe","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":420,"wires":[]}]